<!DOCTYPE html>
<html lang="en" style="background: #f5f5f5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template certificados colciencias</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <section class="p-3" id="global">
        
      <div class="card text-center footerCol colorfooter">
        <div class="card-body row"> 
          <div class="col-6">
              <img src="assets/nexos.png" class="d-block img-responsive" alt="logo">
          </div>
        </div> 
      </div>

      <router-outlet></router-outlet>

      <div class="card text-center footerCol colorfooter ">
        <div class="card-body">
          <p class="card-title"aling="left">¿En dónde estamos ubicados?</p>
          <p class="card-text" aling="left">Bogotá: Calle 100 #19 A -50 Of. 604-605</p>
          <p class="card-text" aling="left">Ed. Internacional Tower</p>
          <a href="https://nxs.com.co/" target="_blank" class="card-text">Nexos</a>
        </div>
      </div>

     
    </section>
   
</body>
</html>