<div class="pt-3 pb-3">
    <form [formGroup]="formLibro">
        <div class="col-12 row mr-0 ml-0">
            <div class="offset-2 col-8 text-center align-items-center">
                <h3>LIBROS</h3>
            </div>
            <div class="col-2 pt-3"> 
                <div class="text-right">
                    <button type="submit" class="btn btn-success w-100" (click)="volver()">Volver</button>
                </div>
            </div>

            <div class="col-6 pb-2">
                <label>Busca el autor en la lista (*)</label>
                <select class="form-control text-uppercase" formControlName="autor" name="autor"  required>
                    <option *ngFor="let autor of autores" [ngValue]="autor.id">{{autor.strNomCompleto}}</option>
                </select>
            </div> 

            <div class="col-6 pb-2">
                <label>Busca la editorial en la lista</label>
                <select class="form-control text-uppercase" formControlName="editorial" name="editorial"  required>
                    <option *ngFor="let editorial of editoriales" [ngValue]="editorial.id">{{editorial.strNombre}}</option>
                </select>
            </div> 


            <div class="col-6 pb-2">
                <label for="">Titulo (*)</label>
                <input type="text" class="form-control" formControlName="strTitulo">
            </div>

            <div class="col-6 pb-2">
                <label for="">Año (*)</label>
                <input type="number" class="form-control" formControlName="intAnio">
            </div>

            <div class="col-6 pb-2">
                <label for="">Genero (*)</label>
                <input type="text" class="form-control" formControlName="strGenero">
            </div>

            <div class="col-6 pb-2">
                <label for="">Numero de páginas (*)</label>
                <input type="number" class="form-control" formControlName="intNumPag">
            </div>

            
            
            <div class="col-12 pt-3"> 
                <div class="text-center">
                <button type="submit" class="btn btn-primary w-100" [disabled]="!formLibro.valid" (click)="guardarLibro()">Guardar</button>
                </div>
            </div>

            
        </div>
    </form>
</div>

<div *ngIf="libros?.length>0" class="col-12 table-responsibe">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-left">Titulo</th>
                <th class="text-left">Genero</th>
                <th class="text-left">Año</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libros; let i=index">
                <td>{{libro.strTitulo}}</td>
                <td>{{libro.strGenero }}</td>
                <td>{{libro.intAnio}}</td>
            </tr>
    </table>
</div>

